$offcanvas_width : 250px;

.index-view {
    min-height: 100vh !important;
    min-width: 100vw !important;
    max-width: 100vw !important;
    background: linear-gradient(to bottom right, #0001, #FFF);
    display: flex;
    flex-direction: column;
    padding: 3em;
}